.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    gap: 15px;
}

.title{
    background-color: aliceblue;
border: solid black 5px;
width: 200px;
height: 200px;
}

.menu{
    background-color: aliceblue;
border: solid black 5px;
width: 200px;
height: 200px;
}

.sec1{
    background-color: aliceblue;
border: solid black 5px;
width: 200px;
height: 200px;
}

.aside{
    background-color: aliceblue;
border: solid black 5px;
width: 200px;
height: 200px;
}

.sec2{
    background-color: aliceblue;
border: solid black 5px;
width: 200px;
height: 200px;
}

.footer{
    background-color: aliceblue;
border: solid black 5px;
width: 200px;
height: 200px;
}

div{
    text-align: center;
}